body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DM Sans, sans-serif;
    color: #555555;
}

header {
    /* background-color: black; */
    padding: 1%;
    text-align: center;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}


.logoSection {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: start;
}

.logoImg {
    width: 45%;
    height: 100%;
    cursor: pointer;
}

.headerMenu {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 10px;
}

.contactMenu_search {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    font-size: 13px;
}

.search {
    display: flex;
    flex-direction: row;
}

.form-inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-inline input {
    border-radius: 100px 0px 0px 100px;
    border: none;
    width: 80%;
    color: white;
    border: 1px solid #ffcc00;
}

.form-inline input:focus {
    box-shadow: none;
}

.form-inline input::placeholder {
    opacity: 0.6;
}

.form-inline button {
    border-radius: 0px 100px 100px 0px;
    border: none;
    background-color: #ffcc00;
    width: 30%;
    padding: 2px 2px 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.whatsApp {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    text-align: center;
}

.icon-margin {
    margin-right: 5px;
}

.menuItem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.child-menuItem {
    cursor: pointer;
}